<div class="jumbotron">

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>
<br><br><br>
	<%= link_to root_path , :style=>'color:#FFFFFF;', class: "btn btn-success" do%>
		<i class="glyphicon glyphicon-home"></i>Home
	<% end %>
</div>
